<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Paisajes de Naturaleza"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Fotografía Nocturna"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Fotografía Urbana"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Books personales, modelos y actores"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Reportajes de boda"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Reportajes de conciertos"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Reportajes de embarazadas"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="/images/carousel/fotografia-naturaleza.jpg" class="d-block w-100" alt="Paisajes de Naturaleza">
            <div class="carousel-caption d-none d-md-block">
                <h5>FOTOGRAFÍA NATURALEZA</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/carousel/fotografia-nocturna.jpg" class="d-block w-100" alt="Fotografía Nocturna">
            <div class="carousel-caption d-none d-md-block">
                <h5>FOTOGRAFÍA NOCTURNA</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/carousel/fotografia-urbana.jpg" class="d-block w-100" alt="Fotografía Urbana">
            <div class="carousel-caption d-none d-md-block">
                <h5>FOTOGRAFÍA URBANA</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/carousel/fotografia-books-retratos.jpg" class="d-block w-100" alt="Books personales, modelos y actores">
            <div class="carousel-caption d-none d-md-block">
                <h5>BOOKS Y RETRATOS</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/carousel/reportaje-boda.jpg" class="d-block w-100" alt="Reportajes de boda">
            <div class="carousel-caption d-none d-md-block">
                <h5>REPORTAJES DE BODA</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/carousel/reportaje-conciertos.jpg" class="d-block w-100" alt="Reportajes de conciertos">
            <div class="carousel-caption d-none d-md-block">
                <h5>REPORTAJES DE CONCIERTOS</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/carousel/reportaje-embarazadas.jpg" class="d-block w-100" alt="Reportajes de embarazadas">
            <div class="carousel-caption d-none d-md-block">
                <h5>REPORTAJES DE EMBARAZOS</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>