<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>NAVEGA POR LA WEB</h4>
                <div>
                    <ul class="nav nav-pills flex-column">
                        <li class="menu"><a class="nav-link" href="http://www.evaristocuesta.es" title="Evaristo Cuesta Fotografía fotos fotógrafo">INICIO</a></li>
                        <li class="menu"><a class="nav-link" href="galeria-fotos" title="Galería de Fotos Evaristo Cuesta Fotografía Fotógrafo">GALERÍA DE FOTOS</a></li>
                        <li class="menu submenu"><a class="nav-link" href="paisajes-naturaleza" title="Paisajes naturaleza fotografía">PAISAJES DE NATURALEZA</a></li>
                        <li class="menu submenu"><a class="nav-link" href="fotografia-nocturna" title="nocturnas fotografía larga exposición">FOTOGRAFÍA NOCTURNA</a></li>
                        <li class="menu submenu"><a class="nav-link" href="paisajes-urbanos" title="Paisajes urbanos fotografía">FOTOGRAFÍA URBANA</a></li>
                        <li class="menu submenu"><a class="nav-link" href="retratos-books-moda" title="Retratos books moda fotografía sevilla">BOOKS Y RETRATOS</a></li>
                        <li class="menu submenu"><a class="nav-link" href="reportaje-bodas" title="Reportajes de Boda Sevilla Fotógrafo Fotografía">REPORTAJES DE BODA</a></li>
                        <li class="menu submenu"><a class="nav-link" href="conciertos" title="Reportajes de Conciertos Fotógrafo Fotografía Sevilla">REPORTAJES DE CONCIERTOS</a></li>
                        <li class="menu submenu"><a class="nav-link" href="reportaje-fotos-embarazadas" title="fotógrafo embarazadas sevilla reportaje embarazadas">REPORTAJES DE EMBARAZOS</a></li>
                        <li class="menu"><a class="nav-link" href="venta-fotografias" title="Venta de Fotos Evaristo Cuesta Fotografía Fotógrafo">VENTA DE FOTOS</a></li>
                        <li class="menu"><a class="nav-link" href="contacto" title="Contacto Evaristo Cuesta Fotografía Fotógrafo Fotos">CONTACTO</a></li>
                    </ul>
                </div>
                <br>
            </div>
            <div class="col-lg-4" itemscope itemtype="http://schema.org/Person">
                <h4>SOBRE MI</h4>
                <div>
                    <p><span itemprop="jobTitle">Fotógrafo</span> <span itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Sevilla</span></span></p>
                    <p>
                        <span itemprop="name">Evaristo Cuesta Guzmán</span>. Nací en <span itemprop="address">Sevilla</span> en el año 1976.
                    </p>
                    <p>
                        Mi interés por la fotografía empezó hace muchos años, cuando utilizaba ocasionalmente la antigua Yashica compacta que tenía mi padre. En el año 2003 es cuando decido comprarme mi primera compacta digital, 		                    con la que empiezo a tener más inquietudes por la fotografía y a ir adquiriendo mis primeros conocimientos fotográficos. Es en el año 2006 cuando decido hacerme con mi primera reflex y dedicarme más
                        seriamente al mundo de la fotografía.
                    </p>
                    <p>
                        Fotógrafo totalmente autodidacta, siempre en constante evolución y aprendizaje, intentando en cada toma no dejar indiferente. Trabajo diferentes campos de la fotografía como
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="retratos-books-moda" title="Retratos Books Moda fotógrafo Sevilla"><span itemprop="name">retratos</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="reportaje-bodas" title="Reportajes de boda fotógrafo Sevilla"><span itemprop="name">reportajes de boda</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="conciertos" title="reportajes conciertos fotógrafo Sevilla"><span itemprop="name">reportajes de conciertos</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="retratos-books-moda" title="Retratos books moda fotografo Sevilla"><span itemprop="name">books de moda</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="reportaje-fotos-embarazadas" title="fotógrafo embarazadas sevilla reportaje embarazadas"><span itemprop="name">reportajes de fotos a embarazadas</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="paisajes-naturaleza" title="Paisajes naturaleza fotografía"><span itemprop="name">paisajes</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="fotografia-nocturna" title="Nocturnas fotografía"><span itemprop="name">fotografía nocturna</span></a></span>,
                        <span itemscope itemtype="http://schema.org/CreativeWork"><a itemprop="url" href="paisajes-urbanos" title="Paisajes urbanos fotografía"><span itemprop="name">fotografía urbana</span></a></span>
                        y <a href="venta-fotografias" title="Venta fotografía de autor">fotografía de autor</a>.
                    </p>
                </div>
                <br>
            </div>
            <div class="col-lg-4">
                <h4>CONCURSOS</h4>
                <div>
                    <ul>
                        <li>
                            <span itemscope itemtype="http://schema.org/Photograph">
                                <span itemprop="award"><strong>Ganador</strong>. Concurso Digital Camera nº 64 - Julio 2008 </span>
                                <a itemprop="image" data-lightbox="galeria-premios" href="fotos-paisajes-naturaleza/paisajesnaturaleza12.jpg" title="Concurso Digital Camera nº 64 - Julio 2008">
                                    (ver foto)
                                </a>
                            </span>
                        </li>
                        <li>
                            <span itemscope itemtype="http://schema.org/Photograph">
                                <span itemprop="award"><strong>Primer Premio</strong>. XIII Concurso Provincial de Fotografías "La Amistad" de Carmona - Octubre 2008 </span>
                                <a itemprop="image" data-lightbox="galeria-premios" href="fotos-fotografia-urbana/fotografiaurbana27.jpg" title="Primer Premio. XIII Concurso Provincial de Fotografías La Amistad de Carmona - Octubre 2008">
                                    (ver foto)
                                </a>
                            </span>
                        </li>
                        <li>
                            <span itemscope itemtype="http://schema.org/Photograph">
                                <span itemprop="award"><strong>Segundo Premio</strong>. XIII Concurso Provincial de Fotografías "La Amistad" de Carmona - Octubre 2008 </span>
                                <a itemprop="image" data-lightbox="galeria-premios" href="fotos-fotografia-urbana/fotografiaurbana28.jpg" title="Segundo Premio. XIII Concurso Provincial de Fotografías La Amistad de Carmona - Octubre 2008">
                                    (ver foto)
                                </a>
                            </span>
                        </li>
                    </ul>
                    <h4>EXPOSICIONES</h4>
                    <ul>
                        <li>Exposición individual. Paisajes: Congelando el tiempo. Bar Gallery - Febrero 2008</li>
                        <li>Exposición colectiva. Alamedeando: Vuelta a la calle - Septiembre 2009</li>
                        <li>Exposición colectiva. Colegio de Médicos - Noviembre 2009</li>
                        <li>Exposición colectiva. Brotes neuronales. Restaurante Brotes - Febrero 2011</li>
                        <li>Exposición colectiva. Brotes conceptuales. Pabellón de Italia - Agosto y Septiembre 2011</li>
                    </ul>

                    <h4>PUBLICACIONES</h4>
                    <ul>
                        <li>Revista digital FotoAtrezzo nº 3 - Octubre 2008</li>
                        <li>Sevilla en dos días, El viajero city. Colección que viene con el diario El País - Marzo 2009</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid flex-horizontal-end-text flex-vertical-center-text">
    <a class="btn btn-default-transparent" href="https://www.vivecortelazor.es" target="_blank" title="Cortelazor, Sierra de Aracena">Vive Cortelazor</a>&nbsp;|&nbsp;
    <a class="btn btn-default-transparent" href="contacto" title="Contacto Evaristo Cuesta Fotografía">CONTACTO</a>&nbsp;|&nbsp;
    <span class="btn btn-default-transparent">©&nbsp;EVARISTO&nbsp;CUESTA&nbsp;2026&nbsp;</span>
    <a class="toTop" href="#without-footer" title="Back to top" id="toTop"><i class="fa-solid fa-circle-arrow-up"></i></a>
</footer>